<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="https://nammhakfreeday.github.io/assets/images/About.jpg" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <title>ไม่พบหน้าที่คุณค้นหา | {{ site.title }}</title>
    {% include header.html %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      {% include navbar.html %}
    </nav>
    <div class="container" style="padding: 5vh 10vw">
      {{ content }}
    </div>
    <footer style="background-color: #484848;">
      {% include footer.html %}
    </footer>
  </body>
</html>